<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-cemter">
            <form [formGroup]="passwordResetForm" id="passwordResetForm">
                <div class="form-label-group">
                    <label for="inputNewPassword"><b>New Password</b></label>
                    <input type="password" class="form-control" placeholder="Enter New Password"
                        id="newPwd" formControlName="newPwd">
                    <small class="text-danger"
                        *ngIf="passwordResetForm.get('newPwd').touched 
                        && passwordResetForm.get('newPwd').hasError('required')">
                        Password is required
                    </small>
                    <small class="text-danger"
                        *ngIf="passwordResetForm.get('newPwd').touched 
                        && passwordResetForm.get('newPwd').hasError('minlength')">
                        Password should be minimum 6 characters
                    </small>
                </div>
                <div class="form-label-group">
                    <label for="inputConfirmPassword"><b>Confirm Password</b></label>
                    <input type="password" class="form-control" placeholder="Retype New Password"
                        id="confirmPwd" formControlName="confirmPwd">
                    <small class="text-danger"
                        *ngIf="passwordResetForm.get('confirmPwd').touched 
                        && passwordResetForm.get('confirmPwd').hasError('required')">
                        Confirm Password is required
                    </small>
                    <small class="text-danger"
                        *ngIf="passwordResetForm.get('confirmPwd').touched 
                        && passwordResetForm.get('confirmPwd').hasError('nomatch')">Confirm
                        Password should match Password
                    </small>
                </div>
                <div class="form-label-group">
                    <button class="btn btn-primary" [disabled]="!passwordResetForm.valid" 
                    (click)="onSubmitPasswordReset()" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>		
</div>
