<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-cemter">
            <form [formGroup]="postTweetForm" id="postTweetForm">
                <div class="form-label-group">
                    <textarea class="form-control" placeholder="What's on your mind"
                        id="tweet" formControlName="tweet"></textarea>
                    <small class="text-danger"
                        *ngIf="postTweetForm.get('tweet').touched 
                        && postTweetForm.get('tweet').hasError('required')">
                        It seems you havn't written anything.
                    </small>
                    <small class="text-danger"
                        *ngIf="postTweetForm.get('tweet').touched 
                        && postTweetForm.get('tweet').hasError('maxlength')">
                        Maximum 144 characters allowed
                    </small>
                </div>
                <div class="form-label-group">
                    <button class="btn btn-primary" type="submit" [disabled]="!postTweetForm.valid" 
                    (click)="onSubmitTweet()">Post Tweet</button>
                </div>
            </form>
        </div>
    </div>
    <div style="margin-top: 4rem;">
        <table class="table dataTable">
            <thead>
                <tr>
                    <th class="text-center" colspan="2">All Tweets</th>
                </tr>
            </thead>
            <tbody id="tbody">
                    <tr>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
